---
---
@charset "utf-8";

$base-font-family: 'Avenir Next W01 Light', Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$base-line-height: 1.6;

$spacing-unit:     24px;

$font-light:      'Avenir Next W01 Light', Helvetica, Arial, sans-serif;
$font-medium:     'AvenirNextLTW01-Medium', Helvetica, Arial, sans-serif;

$text-color:       #000000;
$light-text-color:  #FFFFFF;
$background-color: #FFFFFF;
$dark-bg-color:    #2F2F2F;
$primary-color:    #F07D0D;
$hover-color:      darken(#F07D0D, 5%);

$gray-color:       #AFAFAF;
$box-border:       #C5C5C5;
$box-fill:         #F9F9F9;

$content-width:    62.5em;

$small-range:      (0em, 44em);
$medium-range:     (44.063em, 53em);
$large-range:      (53.063em, 99999999em);

@import
  "normalize",
  "breakpoints",
  "base/structure",
  "base/typography",
  "base/buttons",
  "base/boxes"
;
