---
layout: default
---

<main aria-label="Content">
  <div class="wrap-main">
    <div class="col-primary">
      <h2>Presenting a one-hour workshop by
        <span class="type-focus">Kevin Zolkiewicz</span>.</h2>

      <h1>{% include svg/logo.svg %}</h1>

      <p class="type-focus">Web sites and applications are no longer just “pages,”
        they’re complex systems that must adapt to a variety of needs.</p>

      <p>How do we create maintainable designs that offer consistency yet
        flexibility?  <span class="type-focus">By embracing the
        power of modularity.</span></p>

      <p>During this one-hour workshop, you’ll learn how to:</p>

      <ul>
        <li>Design with modularity in mind.</li>
        <li>Create a living, maintainable library of design patterns.</li>
        <li>Sell the benefits of modular design to stakeholders.</li>
      </ul>
    </div>

    <div class="col-secondary">
      <div class="boxes">
        <div class="box__col">
          <div class="box box--large"></div>
          <div class="box box--small"></div>
          <div class="box box--small box--filled"></div>
          <div class="box box--large"></div>
          <div class="box box--large"></div>
          <div class="box box--small"></div>
          <div class="box box--small"></div>
          <div class="box box--large"></div>
          <div class="box box--large"></div>
        </div>
        <div class="box__col">
          <div class="box box--large box--filled"></div>
          <div class="box box--small"></div>
          <div class="box box--small"></div>
          <div class="box box--large"></div>
          <div class="box box--small box--filled"></div>
          <div class="box box--small"></div>
          <div class="box box--large box--filled"></div>
          <div class="box box--large"></div>
          <div class="box box--small"></div>
          <div class="box box--small"></div>
        </div>
        <div class="box__col">
          <div class="box box--large"></div>
          <div class="box box--small box--filled"></div>
          <div class="box box--small"></div>
          <div class="box box--large"></div>
          <div class="box box--large"></div>
          <div class="box box--small"></div>
          <div class="box box--small"></div>
          <div class="box box--large"></div>
          <div class="box box--large"></div>
        </div>
        <div class="box__col">
          <div class="box box--large"></div>
          <div class="box box--small"></div>
          <div class="box box--small"></div>
          <div class="box box--large"></div>
          <div class="box box--small box--filled"></div>
          <div class="box box--small"></div>
          <div class="box box--large"></div>
          <div class="box box--large box--filled"></div>
          <div class="box box--small"></div>
          <div class="box box--small"></div>
        </div>
      </div>
    </div>
  </div>
</main>

<footer>
  <div class="wrap-footer">
    <div class="col-third">
      <a class="btn-primary" href="https://ti.to/zolk/modular-design-workshop">Register</a>
      <p class="type-focus">January 13, 2017 from 1-2PM.</p>
      <p>8th Light Chicago. (Review board members need not register.)</p>
    </div>

    <div class="col-third">
      <p class="type-focus">Limited spots are available.</p>
      <p>Due to the hands-on nature of this workshop, space is limited to just
        15 attendees.</p>
    </div>

    <div class="col-third">
      <p class="type-focus">No design experience required.</p>
      <p>Both designers and developers will find value in this workshop.</p>
    </div>
  </div>
</footer>
