---
layout: default
---

<main aria-label="Content">
  <div class="col-nav">
    <h1><a href="/">{% include svg/logo.svg %}</a></h1>

    <h3>Table of Contents</h3>

    <ol>
      <li><a href="#a-installation">Installation Guide</a></li>
      <li><a href="#a-pattern">Pattern Lab Project</a></li>
      <li><a href="#a-slides">Slides</a></li>
      <li><a href="#a-resources">Resources</a></li>
      <li><a href="#a-questions">Feedback or Questions</a></li>
    </ol>
  </div>

  <div class="col-resources">
    <h1>Workshop Resources</h1>

    <h2 id="a-installation">1. Installation Guide</h2>

    <p>Prior to the workshop, please take a few moments to prepare your
      computer by installing the necessary software dependancies. We will be
      using a tool that requires both <b>Node version 4 or higher</b> and
      <b>Gulp 4</b> (currently in Alpha).</p>

    <p>The easiest way to install Node on macOS is via
      <a href="http://brew.sh">Homebrew</a>. At the terminal:</p>

    <p><code>brew install node</code></p>

    <p>To install Gulp 4, you&#8217;ll first want to remove any older versions of
      Gulp:</p>

    <p><code>npm uninstall -g gulp</code></p>

    <p>You can then install Gulp 4 with:</p>

    <p><code>npm install gulpjs/gulp-cli -g</code></p>

    <p><a href="#" class="btn-top">return to top</a></p>

    <h2 id="a-pattern">2. Pattern Lab Project</h2>

    <p>We&#8217;ll be using Pattern Lab to build out our modular components and
      create a design system for our sample project. The following ZIP file
      contains both the starting and completed version of our project:</p>

    <p><a href="/resources/workshop-patternlab.zip" class="btn-file">{% include svg/file.svg %} workshop-patternlab.zip</a></p>

    <p>Inside the PatternLab-00 directory, first install NPM dependencies:</p>

    <p><code>npm install</code></p>

    <p>You can then start the project using the following command:</p>

    <p><code>gulp patternlab:serve</code></p>

    <p><a href="#" class="btn-top">return to top</a></p>

    <h2 id="a-slides">3. Slides</h2>

    <p>The slides used during the workshop can be downloaded in PDF format:</p>

    <p><a href="/resources/workshop-slides.pdf" class="btn-file">{% include svg/file.svg %} workshop-slides.pdf</a></p>

    <p><a href="#" class="btn-top">return to top</a></p>

    <h2 id="a-resources">4. Resources</h2>

    <p>Design system and pattern library examples:</p>

    <ul>
      <li><a href="http://ux.mailchimp.com">MailChimp Design System</a></li>
      <li><a href="https://www.lightningdesignsystem.com">Salesforce Lightning Design System</a></li>
      <li><a href="http://rizzo.lonelyplanet.com">Lonely Planet’s Rizzo Pattern Library</a></li>
      <li><a href="http://styleguides.io">styleguides.io</a> (collection of style guide examples, education, and tools)</li>
    </ul>

    <p>Pattern Library Tools:</p>

    <ul>
      <li><a href="http://patternlab.io">Pattern Lab</a> (used during the workshop)</li>
      <li><a href="http://styleguides.io/tools.html">Additional pattern library tools</a></li>
    </ul>

    <p>Atomic Design resources:</p>

    <ul>
      <li><a href="http://atomicdesign.bradfrost.com"><cite>Atomic Design</cite> by Brad Frost</a></li>
      <li><a href="https://medium.com/ge-design/ges-predix-design-system-8236d47b0891#.dcvi01csj">GE&#8217;s Alternative Naming System</a></li>
    </ul>

    <p><a href="#" class="btn-top">return to top</a></p>

    <h2 id="a-questions">5. Feedback or Questions</h2>

    <p><a href="mailto:zolk@8thlight.com">Email Kevin</a> if you have
      questions or feedback regarding this workshop.</p>

    <p><a href="#" class="btn-top">return to top</a></p>
  </div>
</main>
