.boxes {
  overflow: visible;
  width: 400px;
}

.boxes__col {
  float: left;
  width: 100px;

  &:nth-of-type(even) {
    margin-top: -60px;
  }
}

.boxes__box--small {
  border: 1px dashed $box-border;
  width: 80px;
  height: 40px;
  margin-bottom: 20px;
  margin-right: 20px;
  border-radius: 3px;
}

.boxes__box--large {
  @extend .boxes__box--small;
  height: 80px;
}

.boxes__box--filled {
  background-color: $box-fill;
}
