@mixin center {
  margin: 0 auto;
  max-width: $content-width;
  overflow: hidden;
  padding: 1.5em;
}

main {
  @include center;
  position: relative;
  z-index: 1;
}

footer {
  background-color: $dark-bg-color;
  box-shadow: 0px 500px 0px 500px $dark-bg-color;
  color: $light-text-color;
  position: relative;
  z-index: 10;

  .wrap-footer {
    @include center;
  }
}
