body {
  font: 1em/1.5 $font-light;
}

h1, h2, h3, h4, h5, h6, hgroup,
ul, ol, dd,
p, figure,
pre, table, fieldset, hr {
  margin-bottom: 1.5rem;
  margin-top: 0;
}

h1, h2, h3, h4, h5, h6, b {
  font-family: $font-medium;
  font-weight: normal;
}

h1 svg {
  width: 100%;

  @media #{$medium-up} {
    width: 475px;
  }
}

.col-nav h1 svg {
  max-width: 14.75rem;
  width: 100%;
}

.type-focus {
  font-family: $font-medium;
}

footer .type-focus {
  margin-bottom: 0;
}

h2 {
  color: $gray-color;
  font-family: $font-light;
  font-size: 1.125rem;
}

main p, main li {
  font-size: 1.25rem;
}

.col-nav ol {
  padding-left: 1.7rem;
}

.col-nav h3 {
  color: $dark-gray-color;
  font-family: $font-light;
  font-size: 0.8125rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.col-nav ol {
  padding-left: 1.4rem;
}

.col-nav ol li {
  color: $dark-gray-color;
  font-family: $font-regular;
  font-size: 1rem;
  line-height: 2;
  text-decoration: none;
}

.col-resources h1 {
  font-size: 2rem;
}

.col-resources h2 {
  border-top: 1px solid #D9D9D9;
  color: $text-color;
  font-family: $font-medium;
  font-size: 1.75rem;
  margin-top: 1.5rem;
  padding-top: 1.5rem;
}

code {
  background-color: lighten($gray-color, 25%);
  border-radius: 3px;
  display: inline-block;
  padding: 0 0.5rem;
}

.col-resources p a, .col-resources li a {
  border-bottom: 1px solid #D9D9D9;
  color: inherit;
  text-decoration: none;

  &:hover {
    color: $primary-color;
  }
}
