body {
  font: 1em/1.5 $font-light;
}

h1, h2, h3, h4, h5, h6, hgroup,
ul, ol, dd,
p, figure,
pre, table, fieldset, hr {
  margin-bottom: 1.5rem;
  margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-medium;
  font-weight: normal;
}

h1 svg {
  width: 100%;

  @media #{$medium-up} {
    width: 475px;
  }
}

.type-focus {
  font-family: $font-medium;
}

footer .type-focus {
  margin-bottom: 0;
}

h2 {
  color: $gray-color;
  font-family: $font-light;
  font-size: 1.125rem;
}

main p, main li {
  font-size: 1.25rem;
}
